spring:
  application:
    name: sign_connect
  datasource:
    url: jdbc:postgresql://localhost:5432/sign_connect
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver

  hikari:
    minimum-idle: 5
    maximum-pool-size: 10
    idle-timeout: 30000
    max-lifetime: 1800000
    connection-timeout: 20000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
